# VSCode Files
.vscode/
.cache/

# CMake Files
Makefile
*.exe
build/*.txt
# compile_commands.json
build/.cmake
build/CMakeFiles
cmake_install.cmake
test_task
prog1
prog2
server
client

# Debug data
data.txt

# Trash
socketest/
socketown/